<div class="text-center">
	<div class="d-flex ">
		<div class="bg-cream flex-grow-1 m-2 p-1 rounded">{{id}}. {{burger_name}}</div>

		{{#unless devoured}}
		<button class="devour btn btn-primary m-2" data-id="{{id}}">Devour it!</button>
		{{/unless}}

		{{#if devoured}}
		<button class="delete-burger btn btn-danger m-2" data-id="{{this.id}}">Delete</button>
		{{/if}}
	</div>
</div>